.header {
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  background-color: lightgray;
}

.header h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  flex: 1;
  font-weight: bold;
  font-size: 1.4rem;
}

.badge {
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  color: white;
  border: 2px rgba(0, 0, 0, 0.377) solid;
}

.open {
  background-color: green;
}

.closed {
  background-color: gray;
}

.tooltip {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.476);
}