.backdrop {
  z-index: var(--modal-bg-index);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  z-index: var(--modal-content-index);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 1000px;
  max-height: 95%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--base-shadow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.actions {
  gap: 1rem;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.actions>* {
  flex: 1 1 100px;
  overflow: hidden;
  white-space: nowrap;
}

.info {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.desc {
  border-radius: 0.5rem;
  margin-top: 1rem;
  border: 2px lightgray solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.desc h3 {
  background-color: lightgray;
}

.desc>p,
.desc>h3 {
  padding: 0.5rem;
}

.desc>div {
  overflow-y: auto;
}

.md h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-weight: bold;
  padding: 0.5rem;
}

.md h3 {
  margin-top: 2rem;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.md p {
  padding-left: 1rem;

}

.md code {
  font-weight: bold;
  color: blue;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  padding: 5px;
  white-space: pre-wrap;
}

.md ul,
.md ol {
  padding-left: 2rem;
}