@import url(https://fonts.googleapis.com/css?family=Lato:400,500,700);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

body,
#app {
	height: 100vh;
}

*::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(118, 118, 118); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid rgb(255, 255, 255); /* creates padding around scroll thumb */
}
