:root {
	--font-color: black;
	--font-color-contrast: white;

	--background-color: #fafafa;

	--color-emphasis: #0070f3;
	--color-emphasis-hover: #1983ff;

  --base-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  --hover-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}
