
.list {
  background-color: white;
  justify-content: center;
  list-style: none;
  overflow-y: auto;
}

.item {
  border-bottom: 1px gray solid;
}

.item button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.item button:hover {
  background-color: lightgray;
}

.repoName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issueCount {
  /* flex: 0 1 30%; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--base-shadow);
}

.noRepos {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}