.wrapper {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: min(300px, 100vw);
	z-index: var(--normal-overlay-index);
	pointer-events: none;
}

.sidebar {
	background-color: rgba(255, 255, 255, 0.857);
	box-shadow: var(--base-shadow);
	flex: 1;
	pointer-events: all;
}

.button {
	pointer-events: all;
	height: fit-content;
	margin-top: 1rem;
	font-size: 1rem;
	padding: 0.5rem;
	font-size: 2rem;
	border-radius: 0 2rem 2rem 0;
	border: 0;
	background-color: white;
	box-shadow: var(--base-shadow);
	cursor: pointer;
	transition: 0.2s box-shadow;
	display: grid;
	place-items: center;
}

.button:hover {
	box-shadow: var(--hover-shadow);
}

@supports (backdrop-filter: blur(15px)) {
	.sidebar,
	.button {
		--border: 2px solid rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(15px);
		background-color: transparent;
		box-shadow: none;
		border-right: var(--border);
	}

	.button {
		border-top: var(--border);
		border-bottom: var(--border);
	}
}

@keyframes slideInSidebar {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.sidebarEnter {
	animation: slideInSidebar 0.2s ease-in-out forwards;
}

.sidebarExit {
	animation: slideInSidebar 0.2s ease-in-out reverse forwards;
}

@keyframes buttonShow {
	0% {
		opacity: 1;
		transform: translateX(-500%);
	}
	100% {
		opacity: 1;
	}
}

.buttonEnter {
	animation: buttonShow 0.2s ease-in-out forwards;
}

.buttonExit {
	animation: buttonShow 0.2s ease-in-out forwards reverse;
}
