.header {
	padding: 1rem 0;
	display: grid;
	place-items: center;
	backdrop-filter: blur(15px);
}

.title {
	font-size: 2rem;
	animation: fadeIn 1s both;
}

.title span {
	color: var(--color-emphasis);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
	}
}
